/* 表示グループ切替ボタン */
.groupBtn {
    background-color: #3092D9;
    border: none;
    border-radius: 2px;
    min-width: 0;
    color: #ffffff;
    margin-left: 3px;
    font-size: 14px;
}

.groupBtn:active {
    transform: translateX(1px) translateY(1px);
}

.groupBtn.isActive {
    /* background-color: #4d90bc; */
    /* border-color: #3092d959; */
    background-color: #1f74b1;
    box-shadow: inset 0 0px 1px #00000059, 0 0 0 1px #3092d959;
}