body {
    width: 150px;
    margin: 10px;
    font-family: sans-serif;
    background-color: #292A2D;
}
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 1em;
    color: #e5e5e5;
    background-color: #525a62;
}